<!DOCTYPE HTML>
<html lang="zh-cn">
    <head>
        <title>FM</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta charset="utf8">
	{% load static %}
        <link rel="stylesheet" type="text/css" href="../../static/raspberry/css/main.css">
        <script type="text/javascript" src="../../static/raspberry/js/jQuery.min.js"></script>
        <script type="text/javascript" src="../../static/raspberry/js/main.js"></script>
    </head>
    <body>
        <div class="left-panel">
            <p class="playing-header">播放列表</p>
        </div>

        <div class="right-panel" >
            <div class="" id="lga">
                <img src="../../static/raspberry/images/FMradio.jpg" alt="FMradio" id="hplogo" title="FMradio">
            </div>
            <form action="/search" id="f" method="get">
                <div id="fakebox" style="width: 663px;">
                    <div id="fake-text">您想听点什么音乐呢</div>
                    <input id="fakebox-input" name="music_name">
                </div>
            </form>
            
            <div id="search-note" style="text-align: center;">
                正在搜索曲目，请耐心等待。。。
            </div>

            <table class="search-result" border="1" style="display:none">
            </table>
        </div>

    </body>
</html>
